<h2> About my Intro to Rails Data Project </h2>

<p> This project consists in keep track of user's score who play <b>Magic: the Gathering </b> </p>
<p> The users are also separate by teams.  Each team is named by a <b>Color</b></p>
<p> Therefore, group of players can get together to play as divided group (if they wish to) and keep track of their <b>victory level</b>.</p>
<p> The data inserted came from the followed resources:</p>
<ul>
    <li>MTG Json - https://mtgjson.com/ - All Cards </li>
    <li>Gem Faker </li>
</ul>


<p> The ERD of this project:</p>
 <%= image_tag("ERD.png", :alt => "Project ERD") %>





